/* Fuente importada de Google Font */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

/* CSS validaciones JS */

.error-input {
	background-color: #c9302c;
}

.error {
	color: #c9302c;
	font-weight: bold;
}

.ok {
	color: #61af54;
	font-weight: bold;
}



/* CSS General de la web */

body {
	background-color: #f5f1e7;
}

h1, h2,h3 {
	font-family: 'Lobster Two';
}

footer {
	background-color: black;
	padding-top: 8px;
	display: both;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #baa35f;
	position: fixed;
}

.margen-citas {
	margin-top: 100px;
}

.margen-cont {
	margin-bottom: 100px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
    background-color: #286090;
}

.menu-inicio {
	margin-top: 125px;
}

.quien-eres {
	margin-right: 25px;
	margin-top: 5px;
}

.warnin-new {
	padding: 90px;
	margin-top: 10%;
}

.pagina{
	margin-bottom: 30px;
}
.texto {
	font-size: 17px;
}

.espacio-noticias-index {
	width: 30.333333%;
    margin-right: 20px;
    margin-left: 19px;
}

.botones-admin {
	padding-bottom: 20px;
	padding-top: 20px;
}

.nav {
	padding-top: 16px;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #baa35f;
}

.navbar-inverse .navbar-nav>li>a {
	color: #baa35f;
	padding-right: 10px;
}

.n-resp {
	margin-top: 23px;
	border-color: #b9a25f;
}

.navbar-inverse .navbar-toggle {
	border-color: #b9a25f;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #b9a25f;
}

.btn-info {
	background-color:#baa35f;
	border-color: #f5f1e8;
}



.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-color: #333; 
	border-color: #f5f1e8;
}

.btn-info:hover {
	background-color: #333; 
	border-color: #f5f1e8;
}


.menu {
	padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.pager li>a, .pager li>span {
	background-color: #222;
    border: 1px solid #baa35e;
    color: #baa35e;
}

.tarjeta {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.5s;
    margin-bottom: 25px;
	
}

.tnoticias {
	padding: 15px;
    border: solid 0.5px;
    border-color: #101010;
    background-color: #f5f1e8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.5s;

}

.aweb{
	color:#baa35e;
}

.tnoticias:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.ver-inm {
	margin-top: 25px;
}

.bt-ver {
	margin-top: 5px;
}

.contenedor {
    padding: 2px 40px;
}

.ultimas-noticias {
	padding-bottom: 15px;
	margin-bottom: 50px;
}

.cabecera {
	margin-top: 25px;
}


.cabecera-form {
	margin-top: 70px;
}

.cabecera-form-cli {
	margin-top: 170px;
}

.cabecera-form-inm {
	margin-top: 150px;
}

.footer-noticias {
	margin-bottom: 40px;
    margin-top: -60px;
}

.footer-clientes {
	margin-left: -31px;
}

.lista-clientes {
	margin-top: 35px;
}

.botones-clientes {
	    margin-left: 40.333333%;
}

.btn-primary {
	background-color: #0c365a;
	border-color: #fff;
}

.btn-success {
	background-color: #72e495;
	border-color: #fff;
}

.btn-danger {
	background-color: #e68068;
	border-color: #fff;
}

/table th{
	text-align: left;
}

.cabecera-noticia {
	margin-top: 50px;
	margin-bottom: 50px;
}


.contenido-noticia {
	text-align: center;

}



